@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  background-color: #0e0e0e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {

  text-decoration: inherit;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000;
}

h1 {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

button {
  box-sizing: border-box;
}


.TitleFontCustom {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.econPurpleDark {
  color: #54274E !important;
}
.econPurpleLight {
  color: #A546BA !important;
}
.econGrey {
  color: #BFC1C3 !important;
}
.econBlack {
  color: #242424;
}

.bgeconPurpleDark{
  background-color: #54274E;
}

.bgeconPurpleLight{
  background-color: #A546BA;
}

.bgeconGrey{
  background-color: #BFC1C3;
}

.bgeconBlack{
  background-color: #242424;
}

::-webkit-scrollbar {
  width: 2px; 
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #54274E;
}

::-webkit-scrollbar-thumb:hover {
  background: #A546BA;
}


::-webkit-scrollbar-track {
  background: #0e0e0e;
}
